<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352994930781-md95417hvs7sl2h814foji6pmestfo5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352994930781-md95417hvs7sl2h814foji6pmestfo5d</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ErzeHVqPx9azz4M_e5qNk03F-yZbApo</string>
	<key>GCM_SENDER_ID</key>
	<string>352994930781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourismNew</string>
	<key>PROJECT_ID</key>
	<string>tourism-db7a4</string>
	<key>STORAGE_BUCKET</key>
	<string>tourism-db7a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352994930781:ios:1055a56529c83d9d521db4</string>
</dict>
</plist>